<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <!-- Create the camera joint -->
    <joint name="camera_joint" type="fixed">
        <parent link="chassis"/>
        <child link ="camera_link"/>
        <origin xyz="0.22 0 0.05" rpy="0 0 0"/> <!--The camera is 22cm in front of the chassis origin and 5 cm up-->
    </joint>

    <!-- Create the camera frame -->
    <link name="camera_link" type="fixed">
        <visual>
            <geometry>
                <box size="0.010 0.03 0.03"/>
            </geometry>
            <material name="green"/>
        </visual>
    </link>

    <!-- Create the joint to convert from ROS coordinate system to standard vision coordinate system -->
    <joint name="camera_optical_joint" type="fixed">
        <parent link="camera_link"/>
        <child link ="camera_link_optical"/>
        <origin xyz="0 0 0" rpy="${-pi/2 + pi} 0 ${-pi/2}"/> <!--roll, and yaw need to be rotated by pi/2 to make optical link xyz match with ros standards. Add extra pi on roll because my camera is mounted upside down.-->
    </joint>

    <!-- Create the camera frame -->
    <link name="camera_link_optical"></link>

    <!-- A Gazebo tag associated with the laser frame link -->
    <gazebo reference="camera_link">
        <material>Gazebo/Green</material>

        <sensor name="camera" type="camera"> 
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <format>R8G8B8</format>
                    <width>640</width>
                    <height>480</height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
                </clip>
            </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <frame_name>camera_link_optical</frame_name>
            </plugin>
        </sensor>
    
    </gazebo>
</robot>